.graphic-widget {
	padding-bottom: 5px;
}

// Bespoke theme styling
// =====================

// Custom class to be added to article
.introduction {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/454924193_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/454924193_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.assumptions {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/24_2-replace_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/24_2-replace_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.patientresponses {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/1Q1A0493_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/1Q1A0493_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.secondopinions {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/1Q1A0713_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/1Q1A0713_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.symptomsandsigns {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/119177299_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/119177299_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.healthcareprofessionals {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/135449639_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/135449639_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.learningpoints {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/174337705_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/174337705_608x120.jpg);
            padding-top: 120px;
        }
    }
}
.knowledgecheck {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/iStock_000015742269Large_1029x200.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/iStock_000015742269Large_608x120.jpg);
            padding-top: 120px;
        }
    }
}


.image-1 {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/backgroundA.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/backgroundA-mobile.jpg);
            padding-top: 120px;
        }
    }
}

.image-2 {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/backgroundB.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/backgroundB-mobile.jpg);
            padding-top: 120px;
        }
    }
}

.image-3 {
    .article-inner {
        padding-top:1px;
        padding-top: 200px;
        background-image: url(assets/backgroundC.jpg);
        background-position: top;
        background-repeat:no-repeat;
        @media all and (max-width:700px) {
            background-image: url(assets/backgroundC-mobile.jpg);
            padding-top: 120px;
        }
    }
}